body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.page{
    text-align: center;
}
.loader {
    --loader-size: calc(var(--block-size)/2);
    --loader-size-half: calc(var(--loader-size)/2);
    --loader-size-half-neg: calc(var(--loader-size-half)*-1);
    --light-color: rgba(255,255,255,0.3);
    --dot-size: 5px;
    --dot-size-half: calc(var(--dot-size)/2);
    --dot-size-half-neg: calc(var(--dot-size-half)*-1|);

    display: block;
    position: relative;
    width:var(loader-size);
    display: grid;
    place-items: center;
    color:white;
}
.loader::before,.loader::after{
    content:'';
    position: absolute;
}
/* loader--1 */

.loader--1 {
    --loader-size: calc(var(--block-size)/3);
    --anim-duration: 1s;
    --loader-1-dist: calc(var(--loader-size) - var(dot-size-half)+1px);
    aspect-ratio: 1/1;
    border:1px solid var(--light-color);
}
.loader--1::before,.loader--1::after{
    width:var(--dot-size);
    aspect-ratio:1/1;
    background:currentColor;
    border-radius: 50%;
    top:var(--dot-size-half-neg);
    left:var(--dot-size-half-neg);
    animation:loader-1 var(--anim-duration) cubic-bezier(0.27,0.08,0.26,0.7) infinite;
}
.loader--1::after {

}